.card {
  width: 300px;
  height: 400px;
  border: 1px solid var(--color-light);
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.id {
  width: 100px;
  height: 30px;
  border: 1px solid var(--color-light);
  border-radius: 20px;
  text-align: center;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: -15px;

  background-color: var(--color-dark);
}

.id > p {
  display: inline-block;
  font-family: var(--font-headers);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}

.id > p.prefix {
  color: var(--color-light-50);
}

h3.name {
  margin-top: 20px;
}

.team-bar {
  margin-top: 20px;
  width: 100%;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: var(--color-light);
}

h3.team-name {
  color: var(--color-dark);
  position: relative;
  top: 50%;
}

.teammates {
  display: inline-block;
  margin-top: 30px;
  text-align: left;
}

.teammates > li > h4 {
  display: inline;
}

p.referral-count {
  font-family: var(--font-headers);
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}

p.referral-text {
  margin-top: 20px;
  width: 300px;
  color: var(--color-light-50);
  font-size: 0.875rem;
  text-align: center;
}

p.referral-link {
  margin-top: 10px;
  width: 300px;
  color: var(--color-compsigh);
  font-size: 0.875rem;
  font-family: var(--font-headers);
  text-align: center;
}
