ul.todos {
  margin: 10px 80px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  padding-top: 5rem;
  padding-left: 5rem;
}

.card-wrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todos button {
  margin-top: 5rem;
}
