/* CSS Variables */
:root {
  /* Typography */
  --font-headers: var(--font-proto-mono), var(--font-mono);
  --font-body: var(--font-ia-writer-quattro), var(--font-mono);
  --font-mono: ui-monospace, 'Menlo', 'Monaco', 'Cascadia Mono', 'Segoe UI Mono','Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  /* Colors */
  --notion: hsl(0deg, 0%, 100%);
  --c:      hsl(0deg, 0%, 0%);
  --gleam:  hsl(41deg, 98%, 59%);
}

/* Background Grid */
body {
  background-image: url('/gridrect.svg');
  background-repeat: repeat;
}

/* CSS Resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: var(--gleam);
  text-decoration: none;
}

/* Text Styles */
body {
  background-color: var(--c);
  color: var(--notion);
  text-align: justify;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-headers);
  font-weight: 600;
  line-height: 150%;
}

h1 {
  font-size: 3rem;
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.5);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-family: var(--font-body);
  line-height: 150%;
}

/* List Styles */
li {
  font-family: var(--font-proto-mono);
  list-style-type: none;
  text-indent: calc(-1em - 2px);
  line-height: 1.5;
}

li::before {
  content: ">";
  margin-right: 0.5em;
}

li.back::before {
  content: "<";
  margin-right: 0.5em;
}

/* Play Button Animation */
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
