section.details {
  display: flex;
  flex-direction: column;
}

section.details > section:nth-child(even) {
  margin-left: auto;
}

section.details > section:nth-child(odd) {
  margin-right: auto;
}

section.eligibility,
section.submissions,
section.presentations,
section.victory,
section.judging,
section.prizes,
section.agenda,
section.spaces,
section.resources,
p.description {
  width: 500px;
  margin: 0 80px;
  margin-bottom: 6.25rem;
}

p.description {
  padding-top: 10px;
}

section.details > section > * {
  margin-bottom: 0.625rem;
}

.block {
  line-height: 1.5;
  white-space: pre;
}

.block code {
  display: block;
  font-family: var(--font-proto-mono);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header button {
  margin-top: 5rem;
  margin-right: 5rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.footer button {
  margin-top: 2.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.title {
  padding-top: 5rem;
  padding-left: 5rem;
}

.subtitle {
  padding-left: 5rem;
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

/* Play Button Animation */
@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

span.playbutton {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
