button.button {
  border: none;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 0 2px var(--color-light);

  font-family: var(--font-proto-mono);
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5em;
}

button.primary {
  padding: 14px 60px;
  background-color: var(--color-light);
  color: var(--color-dark);
}

button.primary:hover {
  background-color: var(--color-dark);
  color: var(--color-light);
}

button.secondary {
  padding: 4px 24px;
  background-color: var(--color-dark);
  color: var(--color-light);
}

button.secondary:hover {
  background-color: var(--color-light);
  color: var(--color-dark);
}
