:root {
  --font-headers: var(--font-proto-mono), var(--font-mono);
  --font-body: var(--font-ia-writer-quattro), var(--font-mono);
  --font-mono: ui-monospace, 'Menlo', 'Monaco', 'Cascadia Mono', 'Segoe UI Mono','Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --color-dark:        hsla(038deg, 010%, 002%, 1.0);
  --color-dark-30:     hsla(038deg, 010%, 002%, 0.3);
  --color-light:       hsla(038deg, 100%, 090%, 1.0);
  --color-light-50:    hsla(038deg, 100%, 090%, 0.5);
  --color-compsigh:    hsla(038deg, 100%, 050%, 1.0);
  --color-compsigh-60: hsla(038deg, 100%, 050%, 0.6);
  --color-light-10:    hsla(038deg, 100%, 090%, 0.1);
  --color-light-30:    hsla(038deg, 100%, 090%, 0.3);

  --max-width: 700px;
  --margin: 80px auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-image: url('/gridrect.svg');
  background-repeat: repeat;
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: var(--font-body);
  line-height: 180%;
}

h1,
h2,
h3 {
  font-family: var(--font-headers);
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  text-shadow: 0px 0px 30px var(--color-light-50);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  color: var(--color-compsigh);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
ul,
ol {
  margin: 1em 0;
}

li {
  font-family: var(--font-proto-mono);
  white-space: pre-wrap;
  margin: 0.5em 0;
}

li::before,
li::marker {
  color: var(--color-light-50);
}

ul > li {
  list-style-type: none;
}

ul > li::before {
  position: absolute;
  margin-left: -22px;
  content: '>';
}

ul ul {
  margin: unset;
}

ul ul > li,
ol ul > li,
ul ol > li,
ol ol > li {
  margin-left: 1em;
}

li.back::before {
  content: '<';
}

input,
select,
textarea {
  font-size: 1rem;
  padding: 0.5em 1em;
  background-color: var(--color-dark);
  color: var(--color-light);
  border: 2px solid var(--color-light);
}

input,
textarea {
  font-family: var(--font-body);
}

select {
  font-family: var(--font-proto-mono);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0;
  width: 100%;
  word-break: break-word;
  background-color: var(--color-dark-30);
}

tr {
  border-top: 1px solid var(--color-light-30);
  border-bottom: 1px solid var(--color-light-30);
}

th {
  font-weight: 400;
  text-align: left;
  background-color: var(--color-light-10);
}

th,
td {
  padding: 0.4em 0.8em;
  min-width: 80px;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
