main.main {
  max-width: var(--max-width);
  margin: var(--margin);
}

header.header {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 80px;
}

h3.subtitle-mobile {
  display: none;
}

section.details {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 80px;
}

.block code {
  display: block;
  font-family: var(--font-proto-mono);
}

pre.block-mobile {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
}

.footer div.version-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.footer div.version-status div.status-indicator-wrapper {
  position: absolute;
  margin-left: -32px;
}

.footer div.version-status p {
  font-family: var(--font-proto-mono);
  display: inline;
}

@media (max-width: 700px) {
  main.main {
    width: 75vw;
    margin: 80px auto;
  }

  h3.subtitle {
    display: none;
  }

  h3.subtitle-mobile {
    display: block;
  }

  pre.block {
    display: none;
  }

  pre.block-mobile {
    display: block;
  }
}
